* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background-image: linear-gradient(to right top, #ffffff, #f5f6fe, #e6effd, #d3e9fa, #bde4f4);
}

.dataCont {
  width: 100vw;
  height: 10vh;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  
}

.steps , .km{
  font-weight: 900;
}

.rounds {
  width: 100vw;
  height: 60vh;
  color: rgb(0, 119, 255);
  font-size: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.footer {
  width: 100vw;
  height: 10vh;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.time {
  width: 60%;
  height: 50%;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 900;
}
.btn {
  width: 100px;
  height: 100px;
  background-color: rgb(0, 119, 255);
  border-radius: 50%;
  font-size: 50px;
  color: white;
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recorded-time {
  width: 100vw;
  height: 5vh;
  background-color: rgb(0, 140, 255);
  font-size: 20px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
